@use "vars" as *;

.sec-preventive.bruxism__preventive {
  padding-bottom: 28px;
  @include mq() {
    padding-bottom: 0;
  }
}

/* ----------------------------------------------------------
// セルフチェック
// ---------------------------------------------------------- */
.bruxism__worries {
  padding-block: 13px 70px;
  @include mq() {
    padding-block: 20px 50px;
  }
}

.bruxism__worries .preventive-check {
  padding-bottom: 43px;
  @include mq(xl) {
    padding: 40px 20px;
  }
  @include mq() {
    padding: 30px 15px;
  }
}

.bruxism__worries .preventive-check .check-list.c-worries__list {
  column-gap: 24px;
}

/* 歯ぎしり・食いしばり（ブラキシズム）とは
---------------------------------------------------------- */
.bruxism__about {
  padding-block: 54px 40px;
  @include mq() {
    padding-block: 0 20px;
  }
}

.bruxism__about .c-ttl__03 {
  margin-bottom: 15px;
  @include mq() {
    margin-bottom: 20px;
  }
}

.bruxism__about-content-text {
  margin-top: 14px;
}
.bruxism__about-content-text span {
  color: #00a5b1;
  font-weight: bold;
}

.bruxism__about-table {
  margin-top: 18px;
  margin-bottom: 25px;
  @include mq() {
    margin-top: 35px;
  }
}

.general-show.bruxism__about-table table tr th:nth-child(1),
.general-show.bruxism__about-table table tr td:nth-child(1) {
  width: 16%;
  font-weight: bold;
  @include mq(xl) {
    width: 22%;
  }
}

.general-show.bruxism__about-table table tr th,
.general-show.bruxism__about-table table tr td {
  padding: 18px 20px 19px 42px;
  @include mq(xxl) {
    padding: 18px calc(20 / 1440 * 100vw) 19px calc(42 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}

/* ----------------------------------------------------------
// 放置すると、歯と身体はこうなります
// ---------------------------------------------------------- */
.bruxism__symptoms {
  padding-block: 72px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

.bruxism__symptoms .c-ttl__03 {
  margin-bottom: 7px;
  @include mq() {
    margin-bottom: 20px;
  }
}

.bruxism__symptoms-table {
  margin-bottom: 25px;
}

.general-show.bruxism__symptoms-table table tr {
  border-bottom: 1px solid #d3d3d3;
}

.general-show.bruxism__symptoms-table table tr td:nth-child(1) {
  width: 11%;
  font-weight: bold;
  @include mq(xl) {
    width: 17%;
  }
}

.general-show.bruxism__symptoms-table table tr td {
  padding: 18px 0px 19px 42px;
  @include mq(xxl) {
    padding: 18px calc(20 / 1440 * 100vw) 19px calc(42 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}
.general-show.bruxism__symptoms-table table tr td:nth-child(2) {
  padding-inline: 20px 5px;
  @include mq(xxl) {
    padding-inline: calc(20 / 1440 * 100vw) calc(5 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}

.general-show.bruxism__symptoms-table table tr td a {
  color: #1871ee;
  text-decoration: underline;
}

/* ----------------------------------------------------------
// なぜ起こる？
// ---------------------------------------------------------- */
.bruxism__cause {
  padding-block: 66px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

.bruxism__cause .c-ttl__03 {
  margin-bottom: 27px;
  @include mq() {
    margin-bottom: 20px;
  }
}

.bruxism__cause-content-ttl {
  @include font-size(20);
  font-weight: 500;
  line-height: calc(28.8 / 20);
  color: #00a5b1;
  @include mq() {
    @include font-size(18);
  }
}
.bruxism__cause .bruxism__cause-content-text {
  margin-top: 25px;
}

.bruxism__cause .bruxism__cause-content-text span {
  color: #00a5b1;
  font-weight: bold;
}

/* ----------------------------------------------------------
// 当院の治療アプローチ
// ---------------------------------------------------------- */
.bruxism__menu {
  padding-block: 54px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

.bruxism__menu .c-ttl__03 {
  margin-bottom: 16px;
}

.bruxism__menu-list .c-menu__item:nth-child(3) .c-menu__img {
  text-align: center;
}

.bruxism__menu-list .c-menu__item:nth-child(3) .c-menu__img img {
  width: 75px;
}

/* ----------------------------------------------------------
// 治療の流れ
// ---------------------------------------------------------- */
.bruxism__flow {
  padding-block: 75px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

/* ----------------------------------------------------------
// 料金表（税込）
// ---------------------------------------------------------- */
.bruxism__price {
  padding-block: 77px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

.bruxism__price-table {
  margin-top: 30px;
  margin-bottom: 4px;
}

.bruxism__price-table table {
  margin-bottom: 18px;
}

.general-show.bruxism__price-table table tr th:nth-child(1),
.general-show.bruxism__price-table table tr td:nth-child(1) {
  width: 30%;
  @include mq(xl) {
    width: 35%;
  }
}
.general-show.bruxism__price-table table tr th:nth-child(2),
.general-show.bruxism__price-table table tr td:nth-child(2) {
  width: 17%;
  @include mq(xl) {
    width: 23%;
  }
}

.general-show.bruxism__price-table table tr th:nth-child(3),
.general-show.bruxism__price-table table tr td:nth-child(3) {
  padding: 18px 55px 19px 52px;
  text-align: right;
  color: #4c4948;
  @include mq(xxl) {
    padding: 18px calc(55 / 1440 * 100vw) 19px calc(52 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}

.general-show.bruxism__price-table table tr td:nth-child(3) {
  font-weight: 400;
}

.general-show.bruxism__price-table table tr th,
.general-show.bruxism__price-table table tr td {
  padding: 18px 20px 19px 52px;
  @include mq(xxl) {
    padding: 18px calc(10 / 1440 * 100vw) 19px calc(46 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}

.bruxism__price-table-txt {
  font-weight: 400;
  color: #858585;
}

/* ----------------------------------------------------------
// よくあるご質問
// ---------------------------------------------------------- */
.bruxism__fqa {
  padding-block: 45px 95px;
  @include mq() {
    padding-block: 20px 40px;
  }
}
