@use "vars" as *;

/* ====================================================
Control
==================================================== */
.c-fc {
  //font-color
  &--ff {
    color: #fff;
  }
  &--green {
    color: #eb8e6c !important;
  }
  &--red {
    color: #da0303 !important;
  }
  &--basic {
    color: #4c4948 !important;
  }
  &--blue {
    color: #00a5b1 !important;
  }
}

.c-ft {
  //font-family
  &--jp {
    font-family: $font-jp;
  }

  &--en {
    font-family: $font-en;
  }
  &--roboto {
    font-family: $font-Roboto;
  }
}

.c-fw {
  //font-weight
  &--lt {
    font-weight: 300 !important;
  }

  &--rg {
    font-weight: 400 !important;
  }

  &--md {
    font-weight: 500 !important;
  }

  &--sbd {
    font-weight: 600 !important;
  }

  &--bd {
    font-weight: 700 !important;
  }

  &--bk {
    font-weight: 900 !important;
  }
}

.c-tx--v {
  //Vertical writing
  //display: inline-block;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  &-pc {
    @include mq(md-min) {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
    }
  }
}

.c-al {
  //text-align
  &--c {
    text-align: center !important;
  }

  &--r {
    text-align: right !important;
  }

  &--l {
    text-align: left !important;
  }
}

.c-val {
  //vertical-align
  &--md {
    vertical-align: middle;
  }

  &--top {
    vertical-align: top;
  }
}

/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt {
  &__01 {
    font-weight: 500;
    line-height: 1.988;
    @include font-size(17);
    @include mq(xl) {
      @include font-size(15);
    }
    @include mq() {
      line-height: 1.7;
      @include font-size(14);
    }
  }
  &__02 {
    font-weight: 500;
    line-height: 1.557;
    @include font-size(14);
    @include mq() {
      line-height: 1.5;
    }
  }
  &__03 {
    line-height: 1.5866;
    @include font-size(15);
    @include mq(xl) {
      @include font-size(14);
    }
    @include mq() {
      line-height: 1.5;
    }
  }
  &__04 {
    line-height: 1.5625;
    @include font-size(16);
    @include mq(xl) {
      @include font-size(15);
    }
    @include mq() {
      line-height: 1.5;
      @include font-size(14);
    }
  }
}

//ttl
.c-ttl {
  &__01 {
    margin-bottom: 24px;
    position: relative;
    z-index: 2;
    text-align: center;
    span {
      display: block;
      position: relative;
      z-index: 2;
    }
    .c-ft {
      &--en {
        background: linear-gradient(90deg, #ee9394 0%, #bd92da 100%);
        background: -webkit-linear-gradient(90deg, #ee9394 0%, #bd92da 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-en;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        @include font-size(31);
        @include mq(xl) {
          @include font-size(24);
        }
        @include mq() {
          margin-bottom: 0;
          @include font-size(20);
        }
      }
      &--jp {
        color: #4c4948;
        font-weight: 500;
        @include font-size(44);
        @include mq(xl) {
          @include font-size(35);
        }
        @include mq() {
          line-height: 1.2;
          @include font-size(30);
        }
        > span {
          margin-bottom: 4px;
          @include font-size(31);
          @include mq(xl) {
            @include font-size(24);
          }
          @include mq() {
            margin-bottom: 0;
            @include font-size(20);
          }
        }
      }
    }
    strong {
      position: absolute;
      z-index: 1;
      line-height: 0.9;
      font-family: $font-en;
      top: 33%;
      left: 0;
      transform: translateY(-50%);
      width: 100vw;
      text-align: center;
      background: linear-gradient(360deg, #fff7f4 0%, #fff9f8 100%);
      background: -webkit-linear-gradient(360deg, #fff7f4 0%, #fff9f8 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-left: calc(((100vw - 100%) / 2) * -1);
      margin-right: calc(((100vw - 100%) / 2) * -1);
      @include font-size(150);
      @include mq(xxl) {
        @include font-size(120);
      }
      @include mq(xl) {
        top: 50%;
        @include font-size(90);
      }
      @include mq() {
        @include font-size(45);
      }
    }
  }
  &__02 {
    font-weight: 500;
    @include font-size(16);
    @include mq(xl) {
      @include font-size(14);
    }
    span {
      display: block;
      background: linear-gradient(360deg, #ee9394 0%, #bd92da 100%);
      background: -webkit-linear-gradient(360deg, #ee9394 0%, #bd92da 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $font-en;
      font-weight: bold;
      margin-right: 25px;
      @include font-size(35);
      @include mq(xl) {
        margin-right: 7px;
        @include font-size(28);
      }
      @include mq() {
        margin-right: 5px;
        @include font-size(24);
      }
    }
  }
  &__03 {
    border-bottom: 1px solid #cecece;
    padding-bottom: 15px;
    margin-bottom: 35px;
    position: relative;
    padding-left: 44px;
    z-index: 2;
    @include mq() {
      padding-left: 32px;
      padding-bottom: 10px;
      margin-bottom: 25px;
    }
    @include p-before(15px, 30px) {
      left: -2px;
      top: 31%;
      transform: rotate(43deg) translateY(-50%);
      border-radius: 100px;
      background: linear-gradient(90deg, #ee9394 0%, #bd92da 100%);
      @include mq() {
        width: 12px;
        height: 25px;
        top: 5px;
        transform: rotate(43deg);
        left: 3px;
      }
    }
    > span {
      display: block;
    }
    &--number {
      padding: 0 0 17px 94px;
      @include mq() {
        padding: 0 0 12px 65px;
      }
      &:before {
        display: none;
      }
    }
    &-number {
      counter-increment: promise;
      content: counter(promise, decimal-leading-zero);
      @include font-size(68);
      line-height: 1;
      font-weight: bold;
      font-family: $font-en;
      background: #ee9394;
      background: linear-gradient(to right, #ee9394 0%, #bd92da 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      top: -14px;
      left: 5px;
      @include mq() {
        left: 0;
        top: 2px;
        @include font-size(50);
      }
    }
    .c-ft {
      &--jp {
        font-weight: 500;
        @include font-size(30);
        @include mq() {
          @include font-size(22);
        }
        span {
          @include font-size(25);
          @include mq() {
            @include font-size(18);
          }
        }
        small {
          display: inline-block;
          font-size: 1.7rem;
          color: #848484;
          margin: 0 0 0 18px;
          position: relative;
          top: -7px;
          @include mq() {
            @include font-size(14);
            top: 0;
            margin: 0;
            display: block;
          }
        }
        b {
          font-weight: normal;
          margin-left: 30px;
          @include font-size(15);
          @include mq() {
            margin-left: 0;
            @include font-size(14);
            display: block;
          }
        }
      }
      &--en {
        line-height: 1;
        position: absolute;
        right: -10px;
        bottom: -22px;
        z-index: -1;
        font-family: $font-en;
        font-weight: bold;
        text-transform: uppercase;
        background: linear-gradient(90deg, #fff7f4 0%, #fff9f8 100%);
        background: -webkit-linear-gradient(90deg, #fff7f4 0%, #fff9f8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include font-size(150);
        @include mq(xl) {
          bottom: -18px;
          @include font-size(120);
        }
        @include mq() {
          bottom: -6px;
          @include font-size(50);
        }
      }
    }
  }
  &__04 {
    padding-left: 26px;
    position: relative;
    font-weight: 500;
    margin-bottom: 22px;
    @include font-size(20);
    @include mq() {
      padding-left: 15px;
      margin-bottom: 15px;
      @include font-size(18);
    }
    @include p-before(10px, 30px) {
      background: #00a5b1;
      top: 0px;
      left: 0;
      @include mq() {
        width: 8px;
        height: 25px;
      }
    }
  }
  &__05 {
    font-weight: 500;
    margin-bottom: 14px;
    @include font-size(23);
    @include mq() {
      margin-bottom: 10px;
      @include font-size(20);
    }
  }
  &__06 {
    color: #00a5b1;
    margin-bottom: 19px;
    font-weight: 500;
    @include font-size(20);
    @include mq() {
      margin-bottom: 12px;
      @include font-size(18);
    }
  }
}

//btn
.c-btn {
  &__01 {
    border-radius: 100px;
    background: linear-gradient(90deg, #ee9394 0%, #bd92da 100%);
    height: 60px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 40px 12px 45px;
    position: relative;
    color: #fff;
    font-weight: bold;
    @include flex(start, center);
    @include font-size(19);
    @include mq() {
      height: 50px;
      max-width: 250px;
      padding: 5px 25px;
      @include font-size(16);
    }
    @include p-after(8px, 8px) {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      top: 50%;
      right: 32px;
      transform: rotate(45deg) translateY(-50%);
      @include mq() {
        right: 15px;
        width: 6px;
        height: 6px;
      }
    }

    &--shorter {
      max-width: 218px;
    }
  }
  &__02 {
    color: #eb8e6c;
    font-weight: 500;
    display: inline-block;
    padding-right: 23px;
    position: relative;
    @include font-size(14);
    @include mq(xl) {
      padding-right: 12px;
    }
    @include p-after(7px, 7px) {
      border-top: 2px solid #eb8e6c;
      border-right: 2px solid #eb8e6c;
      top: 6px;
      right: 2px;
      transform: rotate(45deg);
      @include mq() {
        right: 0;
        width: 5px;
        height: 5px;
        top: 7px;
      }
    }
  }
  &__03 {
    background: linear-gradient(90deg, #ee9394 0%, #bd92da 100%);
    padding: 10px 10px 10px 63px;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 85px;
    width: 100%;
    max-width: 340px;
    border-radius: 11px;
    @include flex(center, center, wrap, center);
    @include font-size(25);
    @include p-before(38px, 38px) {
      background: url("../img/common/icon-calendar.png") center no-repeat;
      background-size: contain;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      @include mq() {
        width: 30px;
        height: 30px;
        left: 10px;
      }
    }
    @include mq() {
      height: 70px;
      max-width: 300px;
      justify-content: flex-start;
      text-align: left;
      padding: 5px 30px 5px 50px;
      margin: 0 auto;
      @include font-size(22);
    }
  }
}

//fade up
.js-scrollin {
  opacity: 0;
  transform: translate(0, 70px);
  &.active {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  @include mq(md-min) {
    &.delay01 {
      &.active {
        transition-delay: 0.2s;
      }
    }
    &.delay02 {
      &.active {
        transition-delay: 0.4s;
      }
    }
    &.delay03 {
      &.active {
        transition-delay: 0.6s;
      }
    }
    &.delay04 {
      &.active {
        transition-delay: 0.8s;
      }
    }
    &.delay05 {
      &.active {
        transition-delay: 1s;
      }
    }
    &.delay06 {
      &.active {
        transition-delay: 1.2s;
      }
    }
    &.delay07 {
      &.active {
        transition-delay: 1.4s;
      }
    }
    &.delay08 {
      &.active {
        transition-delay: 1.6s;
      }
    }
    &.delay09 {
      &.active {
        transition-delay: 1.8s;
      }
    }
  }
}

//worries
.preventive-check.c-worries {
  margin-bottom: 0;
  padding-top: 38px;
  padding-inline: 10px;
  display: block;
  background-color: #eaedf7;
  @include mq() {
    padding: 20px 15px;
  }
}

.c-worries__title {
  @include font-size(28);
  font-weight: 500;
  line-height: calc(40 / 28);
  text-align: center;
  @include mq() {
    @include font-size(22);
  }
}

.c-worries__text {
  margin-top: 10px;
  @include font-size(20);
  font-weight: 500;
  line-height: calc(40 / 20);
  text-align: center;
  @include mq() {
    line-height: 1.5;
  }
}

.c-worries__content {
  margin: 0 auto;
  padding-top: 20px;
  width: 88%;
  @include mq() {
    width: 100%;
  }
}

.c-worries__content + .c-worries__content {
  margin-top: 20px;
  @include mq() {
    margin-top: 5px;
  }
}

.preventive-check--periodontal-ttl.c-worries__list-title span {
  width: 414px;
  @include font-size(20);
  font-weight: 500;
  line-height: calc(28.8 / 20);
  color: #9395d7;
  background-color: #fff;
  border-radius: 100px;
  @include mq() {
    width: 100%;
    max-width: 300px;
  }
}

.preventive-check .check-list.c-worries__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 35px;
  @include mq() {
    gap: 0 20px;
  }
}

.c-worries__list-item--w100 {
  width: 100%;
}

/* ----------------------------------------------------------
// こんなときはご相談ください
// ---------------------------------------------------------- */
.preventive-check.c-consultation {
  background-color: #eaedf7;
}

.preventive-check--periodontal-ttl.c-consultation__title span {
  width: 414px;
  @include font-size(20);
  font-weight: 500;
  line-height: calc(28.8 / 20);
  color: #9395d7;
  background-color: #fff;
  border-radius: 100px;
  @include mq() {
    width: 100%;
    max-width: 300px;
  }
}

/* ----------------------------------------------------------
// メニュー
// ---------------------------------------------------------- */
.c-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9px 35px;
  margin-bottom: 30px;
  @include mq() {
    grid-template-columns: 1fr;
    gap: 0;
  }
  &__item {
    border-bottom: 1px solid #d3d3d3;
    @include flex(0, start, wrap);
    padding: 21px 21px 29px;
    @include mq() {
      align-items: center;
      padding: 15px 0;
    }
    &-ceramic {
      display: block;
      padding: 0 0 19px 0;
      .pediatric-menu__ct {
        width: 100%;
        padding: 0;
      }
    }
  }
  &__img {
    width: 100px;
    @include mq() {
      width: 60px;
    }
  }
  &__ct {
    width: calc(100% - 100px);
    padding: 0 0 0 34px;
    @include mq() {
      width: calc(100% - 60px);
      padding: 0 0 0 15px;
    }
    &-ttl {
      display: block;
      @include font-size(20);
      font-weight: 500;
      color: #00a5b1;
      margin-bottom: 10px;
      @include mq() {
        @include font-size(18);
        margin-bottom: 5px;
      }
      span {
        display: block;
        @include font-size(17);
        line-height: 1;
        @include mq() {
          @include font-size(15);
        }
      }
    }
  }
}
