@use "vars" as *;

.sec-periodontal {
	padding: 90px 0 83px;
	@include mq(){
		padding: 50px 0;
	}
}

#page-pediatric{
	@include mq(md-min){
		.preventive-check--periodontal {
			margin-bottom: 121px;
			padding: 23px 42px 36px;
		}
		.preventive-list__option--periodontal {
			margin-bottom: 119px;
			.preventive-list__option-item{
				padding-bottom: 13px;
			}
			.preventive-list__option-icon{
				width: 114px;
			}
		}

	}
}


.pediatric-menu{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px 35px;
	margin-bottom: 89px;
	@include mq(){
		grid-template-columns: 1fr;
		margin-bottom: 50px;
		gap: 0;
	}
	&__item{
		border-bottom: 1px solid #D3D3D3;
		@include flex(0,start,wrap);
		padding: 7px 21px 29px;
		@include mq(){
			align-items: center;
			padding: 15px 0;
		}
		&-ceramic {
			display: block;
			padding: 0 0 19px 0;
			.pediatric-menu__ct {
				width: 100%;
				padding: 0;
			}
		}
	}
	&__img{
		width: 100px;
		@include mq(){
			width: 60px;
		}
	}
	&__ct{
		width: calc(100% - 100px);
		padding: 0 0 0 34px;
		@include mq(){
			width: calc(100% - 60px);
			padding: 0 0 0 15px;
		}
		&-ttl{
			display: block;
			@include font-size(20);
			font-weight: 500;
			color: #00A5B1;
			margin-bottom: 10px;
			@include mq(){
				@include font-size(18);
				margin-bottom: 5px;
			}
		}
	}
}

.pediatric-oral{
	background: #EBEFF2;
	border-radius: 19px;
	text-align: center;
	@include fts(14,21.8);
	padding: 42px 40px;
	margin-bottom: 120px;
	@include mq(){
		border-radius: 10px;
		padding: 20px 15px;
		margin-bottom: 50px;
	}
	p{
		margin-bottom: 31px;
		font-weight: 500;
		@include mq(){
			margin-bottom: 20px;
		}
	}
	&__ttl{
		display: block;
		text-align: center;
		@include font-size(30);
		line-height: 1.4;
		font-weight: 500;
		margin-bottom: 28px;
		@include mq(){
			@include font-size(22);
			margin-bottom: 15px;
		}
	}
	&__block{
		@include flex(0,center,wrap);
		background: white;
		border-radius: 19px;
		padding: 23px 26px 30px;
		@include mq(){
			border-radius: 10px;
			padding: 20px 15px;
		}
		&-ttl{
			width: 35.5%;
			display: block;
			font-weight: 600;
			font-size: 2rem;
			text-align: left;
			padding: 0 0 0 4%;
			@include mq(xxl){
				padding-left: 15px;
			}
			@include mq(xl){
				width: 100%;
				margin-bottom: 15px;
			}
			@include mq(){
				@include font-size(18);
				margin-bottom: 10px;
			}
		}
		.check-list{
			width: 64.5%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 14px 4px;
			text-align: left;
			@include mq(xl){
				width: 100%;
			}
			@include mq(){
				grid-template-columns: 1fr;
				gap: 10px;
			}
		}
	}
}