@use "vars" as *;

/* ----------------------------------------------------------
// お口の健康チェックリスト
// ---------------------------------------------------------- */
.preventive__check .preventive-block {
  margin-bottom: 47px;
  @include mq() {
    margin-bottom: 50px;
  }
}

.sec-preventive {
  padding: 56px 0 50px;
  @include mq() {
    padding: 50px 0 20px;
  }
  @include mq(md-min) {
    &--02 {
      padding-bottom: 30px;
    }
    &--03 {
      padding: 43px 0 13px;
    }
  }
}

#page-implant {
  .sec-preventive {
    @include mq {
      padding-bottom: 0;
    }
  }
}

.preventive-block {
  max-width: 960px;
  width: 100%;
  margin: 0 auto 60px;
  text-align: center;
  @include mq() {
    margin-bottom: 50px;
  }
  &__thumb {
    overflow: hidden;
    border-radius: 19px;
    margin-bottom: 32px;
    @include mq() {
      margin-bottom: 15px;
      border-radius: 10px;
    }
    img {
      width: 100%;
    }
  }
  &__ttl {
    font-weight: 500;
    margin-bottom: 32px;
    @include font-size(30);
    @include mq() {
      margin-bottom: 15px;
      @include font-size(22);
    }
  }
  .c-txt__03 {
    text-align: left;
  }
}

.preventive-check {
  background: #ebeff2;
  border-radius: 19px;
  padding: 35px 45px 30px 45px;
  margin-bottom: 20px;
  @include flex(between, 0, wrap);
  align-items: center;
  @include mq(xl) {
    padding: 40px 20px;
  }
  @include mq() {
    margin-bottom: 50px;
    padding: 30px 15px;
  }
  &__ct {
    width: 27%;
    @include mq() {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &__ttl {
    font-weight: bold;
    color: #4c4948;
    margin-bottom: 20px;
    @include font-size(20);
    @include mq(xl) {
      margin-bottom: 12px;
      @include font-size(18);
    }
  }
  .check-list {
    width: 67.5%;
    display: grid;
    grid-template-columns: 51% 1fr;
    gap: 16px 7px;
    @include mq(xl) {
      gap: 12px 15px;
    }
    @include mq() {
      grid-template-columns: 1fr;
      gap: 10px;
      width: 100%;
    }
  }
}

.preventive-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 108px;
      @include mq() {
        margin-bottom: 50px;
      }
    }
  }
  &__option {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 37px;
    @include mq(xl) {
      gap: 20px;
    }
    @include mq() {
      grid-template-columns: 1fr;
    }
    &-item {
      background: #eaedf7;
      border-radius: 19px;
      padding: 30px 33px 36px;
      @include mq(xl) {
        padding: 25px 20px;
      }
    }
    &-icon {
      @include flex(center, center);
      margin-bottom: 16px;
      img {
        max-width: 100%;
      }
    }
    &-ttl {
      text-align: center;
      margin-bottom: 14px;
      font-weight: 500;
      @include font-size(20);
      @include mq() {
        margin-bottom: 12px;
        @include font-size(18);
      }
    }
  }
  &__step {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 37px;
    @include mq(xl) {
      gap: 20px;
    }
    @include mq() {
      grid-template-columns: 1fr;
    }
    &-item {
      background: #eaedf7;
      border-radius: 19px;
      padding: 22px 21px 22px;
      @include mq(xl) {
        padding: 25px 20px;
      }
    }
    &-ttl {
      font-weight: 500;
      margin-bottom: 15px;
      text-align: center;
      @include font-size(20);
      @include mq() {
        margin-bottom: 12px;
        @include font-size(18);
      }
      > span {
        display: block;
        margin-bottom: 21px;
        @include mq() {
          margin-bottom: 12px;
        }
        span {
          display: inline-block;
          padding: 6px 10px;
          min-width: 292px;
          border-radius: 30px;
          margin: 0 auto;
          text-align: center;
          background: #fff;
          color: #9395d7;
          font-weight: 500;
          @include font-size(20);
          @include mq() {
            padding: 5px;
            min-width: 160px;
            @include font-size(18);
          }
        }
      }
    }
    &--02 {
      margin-top: 30px;
      .preventive-list__step-item {
        background: #faf4e2;
        @include mq(md-min) {
          padding: 31px 32px 37px;
        }
      }
      .preventive-list__step-ttl {
        text-align: left;
        @include mq(md-min) {
          margin-bottom: 16px;
        }
      }
    }
  }
}

/* ----------------------------------------------------------
// 「痛くなってから」の通院が、歯の寿命を縮めます
// ---------------------------------------------------------- */
.preventive__caution {
  padding: 68px 0 86px;
  background: linear-gradient(180deg, #ffebe4 0%, #fff2ee 100%);
  @include mq() {
    padding: 50px 0;
  }
}

.preventive__caution-txt span {
  color: #dd90ac;
  font-weight: bold;
}

.preventive__caution-catch {
  margin-block: 32px 20px;
  @include font-size(20);
  font-weight: bold;
  line-height: calc(28.8 / 20);
  color: #00a5b1;
  @include mq() {
    @include font-size(18);
  }
}

/* ----------------------------------------------------------
// 当院の予防・メンテナンスの特徴
// ---------------------------------------------------------- */
.preventive__features {
  padding: 94px 0 30px;
  @include mq() {
    padding: 20px 0;
  }
}

.preventive-list__option {
  &--preventive {
    counter-reset: periodontal;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
    @include mq() {
      margin-bottom: 20px;
      grid-template-columns: 1fr;
    }
    .preventive-list__option {
      &-item {
        background: #faf4e2;
        position: relative;
        padding: 23px 20px 35px 100px;
        @include mq(xl) {
          padding-left: 80px;
        }
        @include mq() {
          padding: 23px 15px 35px 70px;
        }
        &:before {
          counter-increment: periodontal;
          content: counter(periodontal, decimal-leading-zero);
          @include font-size(68);
          line-height: 1;
          font-weight: bold;
          font-family: $font-en;
          background: #ee9394;
          background: linear-gradient(to right, #ee9394 0%, #bd92da 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          position: absolute;
          top: 14px;
          left: 12px;
          @include mq(xl) {
            left: 10px;
            top: 10px;
            @include font-size(50);
          }
          @include mq() {
            top: 20px;
            @include font-size(40);
          }
        }
      }
    }
  }
}

.preventive-list__option--preventive .preventive-list__option-ttl {
  margin-bottom: 21px;
  padding-left: 5px;
  text-align: left;
}

/* ----------------------------------------------------------
// 予防・メンテナンスのメニュー
// ---------------------------------------------------------- */
.preventive__menu {
  padding: 23px 0 30px;
  @include mq() {
    padding: 20px 0;
  }
}

/* ----------------------------------------------------------
// 通院間隔の目安
// ---------------------------------------------------------- */
.preventive__interval {
  padding: 54px 0 30px;
  @include mq() {
    padding: 20px 0;
  }
}

.preventive__interval .c-ttl__03 {
  margin-bottom: 22px;
  @include mq() {
    margin-bottom: 15px;
  }
}

.preventive-interval-text span {
  color: #dd90ac;
  font-weight: bold;
}

/* ----------------------------------------------------------
// 料金表（税込）
// ---------------------------------------------------------- */
.preventive__price {
  padding: 92px 0 30px;
  @include mq() {
    padding: 20px 0;
  }
}

.preventive-price-table {
  margin-top: 30px;
  margin-bottom: 60px;
  @include mq() {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.preventive-price-table table {
  margin-bottom: 23px;
}

.general-show.preventive-price-table table tr th:nth-child(1),
.general-show.preventive-price-table table tr td:nth-child(1) {
  width: 50%;
  @include mq(xl) {
    width: 46%;
  }
}
.general-show.preventive-price-table table tr th:nth-child(2),
.general-show.preventive-price-table table tr td:nth-child(2) {
  text-align: right;
}

.general-show.preventive-price-table table tr th,
.general-show.preventive-price-table table tr td {
  padding-inline: 45px 62px;
  @include mq(xxl) {
    padding-inline: calc(45 / 1440 * 100vw) calc(62 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}

.preventive-price-table-txt {
  font-weight: 400;
  color: #858585;
}

/* ----------------------------------------------------------
// よくあるご質問（一般歯科）
// ---------------------------------------------------------- */
.preventive__faq {
  padding: 2px 0 130px;
  @include mq() {
    padding: 20px 0 40px;
  }
}

.sec-oral {
  padding: 86px 0;
  background: linear-gradient(180deg, #ffebe4 0%, #fff2ee 100%);
  @include mq() {
    padding: 50px 0;
  }
  &--03 {
    @include mq(md-min) {
      padding-bottom: 58px;
      .c-ttl__03 {
        .c-ft--en {
          right: -143px;
        }
      }
      .oral-flex--02 .oral-flex__img {
        width: 32.4% !important;
        margin-top: -10px !important;
      }
    }
  }
  &--04 {
    @include mq(md-min) {
      padding-bottom: 78px;
      .c-ttl__03 {
        .c-ft--en {
          right: 25px;
        }
      }
      .oral-flex--02 .oral-flex__img {
        width: 32.4% !important;
        margin-top: -10px !important;
      }
    }
  }
  &--06 {
    background: #ebeff2;
    @include mq(md-min) {
      padding-bottom: 74px;
      .c-ttl__03 {
        .c-ft--en {
          right: 25px;
        }
      }
      .oral-flex--02 .oral-flex__img {
        width: 31.4% !important;
        margin-top: -5px !important;
      }
    }
  }
}

.oral-flex {
  @include flex(between, start, wrap);
  @include mq() {
    flex-wrap: wrap-reverse;
  }
  &__ct {
    width: 51.6%;
    @include mq(xl) {
      width: 55.6%;
    }
    @include mq() {
      width: 100%;
    }
    .c-txt__03 {
      b {
        font-weight: bold;
        color: #da0303;
      }
    }
  }
  &__ttl {
    color: #00a5b1;
    margin-bottom: 17px;
    font-weight: bold;
    @include font-size(20);
    @include mq(xl) {
      margin-bottom: 12px;
    }
    @include mq() {
      @include font-size(18);
    }
  }
  &__img {
    width: 41.25%;
    padding-top: 23px;
    @include mq() {
      padding-top: 0;
      width: 100%;
      max-width: 450px;
      margin: 0 auto 20px;
    }
    img {
      width: 100%;
    }
  }
  &--02 {
    .oral-flex__img {
      border-radius: 8px;
      overflow: hidden;
    }
    @include mq(md-min) {
      .c-ttl__03 {
        margin-right: -6%;
      }
      .oral-flex__ct {
        width: 64.5%;
      }
      .oral-flex__img {
        padding-top: 0;
        width: 31.5%;
      }
    }
  }
}

.maternity__menu .oral-flex + .oral-flex {
  margin-top: 50px;
  flex-direction: row-reverse;
}

.maternity__menu .oral-flex + .oral-flex .oral-flex__img {
  margin-top: 10px !important;
}

.sec-flow-page {
  padding: 97px 0 64px;
  @include mq() {
    padding: 50px 0 20px;
  }
}

.sec-fqa-page {
  padding: 50px 0 95px;
  @include mq() {
    padding: 40px 0 50px;
  }
}

.sec-entry {
  padding: 66px 0 40px;
  background: linear-gradient(180deg, #ffebe4 0%, #fff2ee 100%);
  @include mq() {
    padding: 50px 0;
  }
  .c-ttl__01 {
    @include mq(md-min) {
      strong {
        top: 42%;
      }
      .c-ft--en {
        margin-bottom: 6px;
      }
      .c-ft--jp {
        @include font-size(35);
      }
    }
  }
}

.entry-block {
  margin-bottom: 28px;
  text-align: center;
  &__txt {
    color: #00a5b1;
    margin: 42px 0 5px;
    font-weight: bold;
    @include font-size(18);
    & + .c-txt__01 {
      line-height: 1.655;
    }
  }
}

.sec-price {
  padding: 50px 0;
}

//css page-maternity

#page-maternity {
  @include mq(xl-min) {
    .preventive-check--periodontal {
      padding: 23px 3% 23px 2% !important;
    }
    .sec-preventive {
      padding: 68px 0 45px;
    }
    .sec-fqa-page {
      padding: 115px 0 123px;
    }
  }
}
