@use "vars" as *;

#page-sitemap{
	@include mq(md-min){
		.sec-mv__ct{
			min-height: 170px;
		}
	}
}

.sec-sitemap{
	padding: 41px 0 149px;
	@include mq(){
		padding: 40px 0 60px;
	}
}

.sitemap-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	gap: 29px;
	@include mq(){
		gap: 15px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	&__item{
		background: #EBEFF2;
		border-radius: 19px;
		padding: 21px 38px 42px;
		@include mq(xl){
			padding: 20px;
		}
		@include mq(md-min){
			&:nth-child(1){
				padding-bottom: 16px;
				grid-area: 1 / 1 / 2 / 2;
			}
			&:nth-child(2){
				grid-area: 1 / 2 / 3 / 3;
			}
			&:nth-child(3){
				grid-area: 1 / 3 / 3 / 4;
			}
			&:nth-child(4){
				grid-area: 2 / 1 / 3 / 2;
			}
		}
	}
	&__ttl{
		font-weight: 500;
		padding-bottom: 13px;
		margin-bottom: 17px;
		border-bottom: 1px solid #B2B2B2;
		position: relative;
		@include font-size(18);
		&:after,&:before{
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 50%;
			left: 0;
			bottom: -3px;
			background: #B2B2B2;
			position: absolute;
			left: 0;
		}
		&:after{
			right: 0;
			left: auto;
		}
	}
	&__menu{
		padding: 0 3px;
		&-item{
			&:not(:last-child){
				margin-bottom: 2px;
			}
			a{
				display: block;
				color: #4C4948;
				@include font-size(14);
			}
		}
	}
}