@use "vars" as *;

.sec-preventive.tmd__preventive {
  padding-bottom: 28px;
  @include mq() {
    padding-bottom: 0;
  }
}

/* ----------------------------------------------------------
// セルフチェック
// ---------------------------------------------------------- */
.tmd__worries {
  padding-block: 20px 70px;
  @include mq() {
    padding-block: 20px;
  }
}

.tmd__worries .c-worries__content {
  width: 96%;
}

.tmd__worries .preventive-check .check-list.c-worries__list {
  padding-left: 4%;
  column-gap: 20px;
  @include mq() {
    padding-left: 0;
  }
}

.tmd__worries-text {
  margin-top: 35px;
  @include font-size(19);
  font-weight: 500;
  line-height: calc(36.8 / 19);
  text-align: center;
  @include mq() {
    margin-bottom: 20px;
    @include font-size(16);
  }
}

/* ----------------------------------------------------------
// 顎関節症とは
// ---------------------------------------------------------- */
.tmd__about {
  padding-block: 73px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

.tmd__about-content-ttl {
  @include font-size(20);
  font-weight: 500;
  line-height: calc(28.8 / 20);
  color: #00a5b1;
  @include mq() {
    @include font-size(18);
  }
}

.tmd__about-content-text {
  margin-top: 14px;
}

.tmd__about-table {
  margin-top: 47px;
  margin-bottom: 18px;
  @include mq() {
    margin-top: 20px;
  }
}

.general-show.tmd__about-table table tr th:nth-child(1),
.general-show.tmd__about-table table tr td:nth-child(1) {
  width: 24%;
  font-weight: bold;
  @include mq(xl) {
    width: 33%;
  }
}
.general-show.tmd__about-table table tr th:nth-child(2),
.general-show.tmd__about-table table tr td:nth-child(2) {
  width: 19%;
  @include mq(xl) {
    width: 33%;
  }
}

.general-show.tmd__about-table table tr th:nth-child(3),
.general-show.tmd__about-table table tr td:nth-child(3) {
  color: #4c4948;
}

.general-show.tmd__about-table table tr td:nth-child(3) {
  font-weight: 400;
}

.general-show.tmd__about-table table tr th,
.general-show.tmd__about-table table tr td {
  padding: 19px 17px;
  @include mq(xxl) {
    padding-inline: calc(17 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}

/* ----------------------------------------------------------
// 主な原因
// ---------------------------------------------------------- */
.tmd__cause {
  padding-block: 41px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

.tmd__cause-content-ttl {
  @include font-size(20);
  font-weight: 500;
  line-height: calc(28.8 / 20);
  color: #00a5b1;
  @include mq() {
    @include font-size(18);
  }
}

.tmd__cause-list {
  margin-top: 21px;
  display: grid;
  gap: 7px;
}

.tmd__cause-item span {
  font-weight: bold;
}

/* ----------------------------------------------------------
// 放置するとどうなるか
// ---------------------------------------------------------- */
.tmd__trouble {
  padding-block: 83px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

.tmd__trouble-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px 40px;
  @include mq() {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.tmd__trouble-item {
  padding: 29px 27px;
  background-color: #ebeff2;
  border-radius: 19px;
}

.tmd__trouble-item-ttl {
  margin-bottom: 17px;
  @include font-size(20);
  font-weight: 500;
  line-height: calc(28.8 / 20);
  color: #00a5b1;
  @include mq() {
    @include font-size(18);
  }
}

/* ----------------------------------------------------------
// 当院の顎関節症治療
// ---------------------------------------------------------- */
.tmd__menu {
  padding-block: 66px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

/* ----------------------------------------------------------
// 治療の流れ
// ---------------------------------------------------------- */
.tmd__flow {
  padding-block: 52px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

/* ----------------------------------------------------------
// 料金表（税込）
// ---------------------------------------------------------- */
.tmd__price {
  padding-block: 67px 40px;
  @include mq() {
    padding-block: 20px;
  }
}

.tmd__price-table {
  margin-top: 30px;
  margin-bottom: 4px;
}

.tmd__price-table table {
  margin-bottom: 23px;
}

.general-show.tmd__price-table table tr th:nth-child(1),
.general-show.tmd__price-table table tr td:nth-child(1) {
  width: 29%;
  @include mq(xl) {
    width: 34%;
  }
}
.general-show.tmd__price-table table tr th:nth-child(2),
.general-show.tmd__price-table table tr td:nth-child(2) {
  width: 17%;
  @include mq(xl) {
    width: 23%;
  }
}

.general-show.tmd__price-table table tr th:nth-child(3),
.general-show.tmd__price-table table tr td:nth-child(3) {
  padding: 18px 55px 19px 52px;
  text-align: right;
  color: #4c4948;
  @include mq(xxl) {
    padding: 18px calc(55 / 1440 * 100vw) 19px calc(52 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}

.general-show.tmd__price-table table tr td:nth-child(3) {
  font-weight: 400;
}

.general-show.tmd__price-table table tr th,
.general-show.tmd__price-table table tr td {
  padding: 18px 20px 19px 52px;
  @include mq(xxl) {
    padding: 18px calc(10 / 1440 * 100vw) 19px calc(46 / 1440 * 100vw);
  }
  @include mq() {
    padding: 6px 7px;
  }
}

.tmd__price-table-txt {
  font-weight: 400;
  color: #858585;
}

/* ----------------------------------------------------------
// よくあるご質問
// ---------------------------------------------------------- */
.tmd__fqa {
  padding-block: 63px 89px;
  @include mq() {
    padding-block: 20px 40px;
  }
}
